
.wrapper-md {max-width: 1100px; margin: auto;}
.wrapper {max-width: 1000px; margin: auto;}
.w-100 {width: 100%;}

.booldook-slide {position: relative;}
.booldook-slide > .slide-stage {overflow: hidden; /* border: 2px solid red; */}
.booldook-slide > .slide-stage > .slide-wrapper {width: 100%; position: relative; display: flex; left: 0;}
.booldook-slide > .slide-stage > .slide-wrapper > .slide {flex-shrink: 0; flex-grow: 0; position: relative; left: -100%; padding: 1%;}

.booldook-slide > .bt-slide {color: rgba(0,0,0,0.3); font-size: 5em; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; line-height: 0.95; transition: all 0.5s; user-select: none; text-shadow: 0 0 0.15em rgba(255,255,255,0.5);}
.booldook-slide > .bt-slide:hover {color: rgba(0,0,0,0.8);}
.booldook-slide > .bt-prev::after {display: block; content: '〈';}
.booldook-slide > .bt-next::after {display: block; content: '〉';}
.booldook-slide > .bt-prev {left: 0;}
.booldook-slide > .bt-next {right: 0;}
.booldook-slide > .pager-wrapper {width: 100%; position: relative; display: flex; justify-content: center; padding: 0.5em 0;}
.booldook-slide > .pager-wrapper > .pager {color: red; opacity: .3; cursor: pointer; user-select: none;}
.booldook-slide > .pager-wrapper > .pager::after {display: block; content: '●';}
.booldook-slide > .pager-wrapper > .pager.active {opacity: .8;}


@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}
