.wrapper {max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap;}
.wrapper .box {border: 1px solid #333; width: 30px; height: 30px; background-color: red; margin-right: -1px; margin-bottom: -1px; transition: all 0.2s;}
.wrapper .box.red {background-color: red;}
.wrapper .box.orange {background-color: orange;}
.wrapper .box.green {background-color: green;}
.wrapper .box.blue {background-color: lightblue;}
.wrapper .box.pink {background-color: pink;}
.wrapper .box:hover {background-color: khaki;}