/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans&family=Overpass:wght@100;200;300;400;600&display=swap'); 
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Overpass', sans-serif;
*/

html, body {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 0.95;}
.wrapper {position: relative; max-width: 1200px; margin: auto;}

/************ // .header-wrapper *************/
.header-wrapper {}
.top-wrapper {background-color: #293356; color: #f9f9f9; font-family: 'Overpass', sans-serif; padding: 1em 0; }
.top-wrapper .top-wrap {display: flex; justify-content: flex-start; align-items: center;}
.top-wrapper .top-wrap .icon-earth {margin-right: 0.5em;}
.top-wrapper .top-wrap .icon-down {margin-right: 1.5em; cursor: pointer;}
.top-wrapper .top-wrap .event {margin-left: auto; margin-right: 1em;}
.top-wrapper .top-wrap .notice {font-weight: 100;}

.trans-wrapper {position: absolute; top: 1.75em; color: #111; display: flex; user-select: none;
	background-color: #fff; padding: 0.5em 0; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) {display: flex; align-items: center; padding: 0 1.5em; position: relative;}
.trans-wrapper > div:not(.line) > * {padding: 0 0.325em;}
.trans-wrapper > div.line {width: 0; border-left: 1px solid #ccc;}
.trans-wrapper .flag, .trans-wrapper .flag-now {width:1.125em; height: 1.125em; background-position: center; background-size: auto 100%; border-radius: 50%;}
.trans-wrapper .bt-down {color: #444; cursor: pointer;}
.trans-wrapper .bt-down:hover {color: #999;}

.trans-wrapper > div:not(.line) > ul {width: 100%; position: absolute; background-color: #fff; top: 1.75em; left: 0; padding: 0.5em; text-align: center; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) > ul > li {padding: 0.5em; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.trans-wrapper > div:not(.line) > ul > li.title {font-size: 0.875em;}
.trans-wrapper > div:not(.line) > ul > li > .flag {margin-right: 1em;}
.trans-wrapper > div:not(.line) > ul > li > span.active {border-bottom: 1px solid #111;}


/************ 반응형 *************/
@media screen and (max-width: 1199px) {
	.wrapper {padding: 0 1em;}
	.top-wrapper .top-wrap {justify-content: center;}
	.top-wrapper .top-wrap .icon-earth {display: none;}
	.top-wrapper .top-wrap .icon-down {display: none;}
	.top-wrapper .top-wrap .tel {display: none;}
	.top-wrapper .top-wrap .event {margin-left: unset;}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	.top-wrapper .top-wrap {flex-direction: column;}
}
