/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans&family=Overpass:wght@100;200;300;400;600&display=swap'); 
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Overpass', sans-serif;
*/

html, body {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 0.95;}
.wrapper {position: relative; max-width: 1200px; margin: auto;}
a:link, a:visited, a:active, a:hover {color: inherit; text-decoration: none;}
.w-100 {width: 100%;}
.mw-100 {max-width: 100%;}
.rel {position: relative;}

.hover-line::after {display: block; content: ""; border-top: 1px solid #111; margin-top: 0.25em; transition: all 0.3s; transform: scaleX(0); transform-origin: left;}
.hover-line:hover::after {transform: scaleX(1); transform-origin: right;}

/************ // .header-wrapper *************/
.header-wrapper {}
.top-wrapper {background-color: #293356; color: #f9f9f9; font-family: 'Overpass', sans-serif; padding: 1em 0; }
.top-wrapper .top-wrap {display: flex; justify-content: flex-start; align-items: center;}
.top-wrapper .top-wrap .icon-earth {margin-right: 0.5em;}
.top-wrapper .top-wrap .icon-down {margin-right: 1.5em; cursor: pointer;}
.top-wrapper .top-wrap .event {margin-left: auto; margin-right: 1em;}
.top-wrapper .top-wrap .notice {font-weight: 100;}

.trans-wrapper {position: absolute; top: 1.75em; color: #111; display: flex; user-select: none;
	background-color: #fff; padding: 0.5em 0; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) {display: flex; align-items: center; padding: 0 1.5em; position: relative;}
.trans-wrapper > div:not(.line) > * {padding: 0 0.325em;}
.trans-wrapper > div.line {width: 0; border-left: 1px solid #ccc;}
.trans-wrapper .flag, .trans-wrapper .flag-now {width:1.125em; height: 1.125em; background-position: center; background-size: auto 100%; border-radius: 50%;}
.trans-wrapper .bt-down {color: #444; cursor: pointer;}
.trans-wrapper .bt-down:hover {color: #999;}

.trans-wrapper > div:not(.line) > ul {width: 100%; position: absolute; background-color: #fff; top: 1.75em; left: 0; padding: 0.5em; text-align: center; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) > ul > li {padding: 0.5em; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.trans-wrapper > div:not(.line) > ul > li.title {font-size: 0.875em;}
.trans-wrapper > div:not(.line) > ul > li > .flag {margin-right: 1em;}
.trans-wrapper > div:not(.line) > ul > li > span.active {border-bottom: 1px solid #111;}


/************ // .logo-wrapper *************/
.logo-wrapper {display: flex; align-items: center; padding: 1.25em 0;}
.logo-wrapper .logo-wrap {margin-right: auto;}
.logo-wrapper .bars {font-size: 2em; margin-right: 1em; cursor: pointer; display: none;}
.logo-wrapper .bars:hover {color: #454e5f;}
.logo-wrapper .link-wrap {display: flex; align-items: center;}
.logo-wrapper .event {border: 1px solid #ba7a2d; color: #ba7a2d; padding: 0.5em 3em; 
	text-align: center; line-height: 1.325; margin-right: 1.5em;}
.logo-wrapper .event > :first-child {font-weight: bold; letter-spacing: 0.2em;}
.logo-wrapper .a-login {margin-right: 0.5em;}
.logo-wrapper .bt-login {font-size: 1.5em;}
.logo-wrapper .a-login:hover {color: #454e5f;}
.logo-wrapper .bt-login:hover {color: #454e5f;}
.logo-wrapper .link-mo-wrap {display: none;}
.logo-wrapper .link-mo-wrap > a {font-size: 1.5em; margin-right: 1em;}
.logo-wrapper .link-mo-wrap > a:hover {color: #454e5f;}
.logo-wrapper .cart-cnt {background-color: #ba7a2d; color: #f9f9f9; font-size: 0.625em; 
	position: absolute; bottom: -0.3em; left: 50%; transform: translateX(-50%); padding: 0.125em 0.25em;border-radius: 0.25em;}


/************ 반응형 *************/
@media screen and (max-width: 1199px) {
	.wrapper {margin-left: 1em; margin-right: 1em;}
	.top-wrapper .top-wrap {justify-content: center;}
	.top-wrapper .top-wrap .icon-earth {display: none;}
	.top-wrapper .top-wrap .icon-down {display: none;}
	.top-wrapper .top-wrap .tel {display: none;}
	.top-wrapper .top-wrap .event {margin-left: unset;}

	.logo-wrapper .logo-wrap {width: 50px;}
	.logo-wrapper .bars {display: block;}
	.logo-wrapper .link-wrap {display: none;}
	.logo-wrapper .link-mo-wrap {display: block;}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	.top-wrapper .top-wrap {flex-direction: column;}
}
