/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans&family=Overpass:wght@100;200;300;400;600&display=swap'); 
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Overpass', sans-serif;
*/
* {box-sizing: border-box;}
html, body {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 0.95; height: 10000px;}
b, strong {font-weight: bold;}
body.hide {padding-right: 17px; height: 100vh; overflow: hidden;}
.wrapper-mid {max-width: 1300px; margin: auto;}
.wrapper {max-width: 1200px; margin: auto;}
a:link, a:visited, a:active, a:hover {color: inherit; text-decoration: none;}
.w-100 {width: 100%;}
.mw-100 {max-width: 100%;}
.rel {position: relative;}
.abs {position: absolute;}
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}

.hover-line::after {display: block; content: ""; border-top: 1px solid #111; margin-top: 0.25em; transition: all 0.3s; transform: scaleX(0); transform-origin: left;}
.hover-line:hover::after {transform: scaleX(1); transform-origin: right;}

.bold {font-weight: bold; cursor: pointer;}
.bold:hover {color: #ba7a2d;}

.red {color: red;}
.input-default {display: block; width: 100%; border: 1px solid #cbcbcb; padding: 1em;}

.bt-blue {width: 100%; text-align: center; background-color: #293355; font-weight: bold; color: #f9f9f9; padding: 1.125em 0; border: none; transition: all 0.3s; display: block;}
.bt-blue:hover {background-color: #fff; color: #293355; box-shadow: 0 0.25em 0.5em rgba(0,0,0,.3);}

.bt-white {width: 100%; text-align: center; background-color: #fff; font-weight: bold; color: #293355; padding: 1.125em 0; border: none; transition: all 0.3s; box-shadow: 0 0.25em 0.5em rgba(0,0,0,.3); display: block;}
.bt-white:hover {background-color: #293355; color: #f9f9f9}

.bt-border {border: 1px solid #111; box-shadow: none;}


/************ .header-wrapper *************/
.header-wrapper {color: #333;}
.header-wrapper .cart-cnt {background-color: #ba7a2d; color: #f9f9f9; font-size: 0.625em; position: absolute; bottom: -0.3em; left: 50%; transform: translateX(-50%); padding: 0.125em 0.25em; border-radius: 0.25em;}

.top-wrapper {background-color: #293356; color: #f9f9f9; font-family: 'Overpass', sans-serif; padding: 1em 0; }
.top-wrapper .top-wrap {display: flex; justify-content: flex-start; align-items: center;}
.top-wrapper .top-wrap .icon-earth {margin-right: 0.5em;}
.top-wrapper .top-wrap .icon-down {margin-right: 1.5em; cursor: pointer;}
.top-wrapper .top-wrap .event {margin-left: auto; margin-right: 1em;}
.top-wrapper .top-wrap .notice {font-weight: 100;}

.trans-wrapper {position: absolute; top: 1.75em; color: #111; display: flex; user-select: none; z-index: 100;
	background-color: #fff; padding: 0.5em 0; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) {display: flex; align-items: center; padding: 0 1.5em; position: relative;}
.trans-wrapper > div:not(.line) > * {padding: 0 0.325em;}
.trans-wrapper > div.line {width: 0; border-left: 1px solid #ccc;}
.trans-wrapper .flag, .trans-wrapper .flag-now {width:1.125em; height: 1.125em; background-position: center; background-size: auto 100%; border-radius: 50%;}
.trans-wrapper .bt-down {color: #444; cursor: pointer;}
.trans-wrapper .bt-down:hover {color: #999;}

.trans-wrapper > div:not(.line) > ul {width: 100%; position: absolute; background-color: #fff; top: 1.75em; left: 0; padding: 0.5em; text-align: center; box-shadow: 0 .25em .5em rgba(0,0,0,0.3);}
.trans-wrapper > div:not(.line) > ul > li {padding: 0.5em; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.trans-wrapper > div:not(.line) > ul > li.title {font-size: 0.875em;}
.trans-wrapper > div:not(.line) > ul > li > .flag {margin-right: 1em;}
.trans-wrapper > div:not(.line) > ul > li > span.active {border-bottom: 1px solid #111;}


/************ .logo-wrapper *************/
.logo-wrapper {display: flex; align-items: center; padding: 1.25em 0; z-index: 99; width: 100%; top: 0; left: 0; background-color: #fff;}
.logo-wrapper .logo-wrap {margin-right: auto;}
.logo-wrapper .bars {font-size: 2em; margin-right: 1em; cursor: pointer; display: none;}
.logo-wrapper .bars:hover {color: #454e5f;}
.logo-wrapper .link-wrap {display: flex; align-items: center;}
.logo-wrapper .event {border: 1px solid #ba7a2d; color: #ba7a2d; padding: 0.5em 3em; 
	text-align: center; line-height: 1.325; margin-right: 1.5em;}
.logo-wrapper .event > :first-child {font-weight: bold; letter-spacing: 0.2em;}
.logo-wrapper .bt-login {display: flex; align-items: center;}
.logo-wrapper .bt-login > :first-child {margin-right: 0.5em;}
.logo-wrapper .bt-login > :last-child {font-size: 1.5em;}
.logo-wrapper .bt-login:hover {color: #454e5f;}
.logo-wrapper .link-mo-wrap {display: none;}
.logo-wrapper .link-mo-wrap > a {font-size: 1.5em; margin-right: 1em;}
.logo-wrapper .link-mo-wrap > a:hover {color: #454e5f;}


/************ .navi-wrapper *************/
.navi-wrapper {border-top: 1px solid #eaeaea; z-index: 99; width: 100%; top: 0; background-color: #fff;}
.navi-wrapper > .wrapper {display: flex; align-items: center;}
.navi-wrapper > .wrapper > .navi {padding: 1.5em; font-weight: bold; letter-spacing: 0.1em;}
.navi-wrapper > .wrapper > .navi:first-child {padding-left: 0;}
.navi-wrapper .a-search {margin-left: auto; margin-right: 0.5em;}
.navi-wrapper a .fa {font-size: 1.5em;}
.navi-wrapper .navi a .fa {font-size: 0.75em;}
.navi-wrapper .line {border-left: 1px solid #eaeaea; height: 1.5em;}
.navi-wrapper a.bt-search,
.navi-wrapper span.line,
.navi-wrapper a.bt-wishlist {margin-right: 2em;}

.sub-wrapper {position: absolute; width: 100%; top: 4.3em; left: 0;  background-color: #fff; font-weight: normal; letter-spacing: -0.05em; transform: translateY(50px); opacity: 0; transition: all 0.25s; height: 0; overflow: hidden;}
.sub-wrapper.active {transform: translateY(0); opacity: 1; height: auto; overflow: visible; border-top: 1px solid #eaeaea;}
.sub-wrapper .sub-navi-wrapper {padding: 2.5em 0 1.5em 0; display: flex; align-items: flex-start;}
.sub-wrapper .sub-navi-wrap {flex: 0 0 18%; margin-right: 2%; display: flex; flex-direction: column; align-items: flex-start;}
.sub-wrapper .sub-navi {padding: 0.5em 0;}
.sub-wrapper .sub-banner {flex: 0 0 38%; margin-left: auto; margin-top: 0.5em; overflow: hidden;}
.sub-wrapper .sub-banner > img {transition: all 0.75s; opacity: .8}
.sub-wrapper .sub-banner:hover > img {transform: scale(1.2); opacity: 1;}

.navi-bottom {background-color: #eaeaea; padding: 2em 0;}
/*
.slide-wrapper .wrapper-mid {}
.slide-wrapper .slide-stage {border: 1px solid red;}
.slide-wrapper .slide-container {width: 100%; display: flex; position: relative;}
*/
.slide-container .bt-arrow {font-size: 3em; color: #293356; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer;}
.slide-container .bt-prev {left: 0; z-index: 2;}
.slide-container .bt-next {right: 0; z-index: 2;}

.slide-wrapper .slide {padding: 1%; display: flex; justify-content: space-between;}
.slide-wrapper .slide > .img-wrap {flex: 40% 0 0;}
.slide-wrapper .slide > .content-wrap {flex: 55% 0 0; background-color: #eaeaea;}
.slide-wrapper .slide > .content-wrap > .title {font-weight: bold; padding: 1em 0;}
.slide-wrapper .slide > .content-wrap > .summary {line-height: 1.5em; color: #555;}
.slide-wrapper .slide > .content-wrap > .star {padding: 0.5em 0; display: inline-block; position: relative; overflow: hidden;}
.slide-wrapper .slide > .content-wrap > .star > .mask {width: 100%; height: 100%; background-color: #eaeaea; position: absolute; top: 0; left: 0;}
.slide-wrapper .slide > .content-wrap > .star > i { color :#aaa;}
.slide-wrapper .slide > .content-wrap > .star > i.active {color: #ba7a2d;}
.slide-wrapper .slide > .content-wrap > .content {color: #aaa;}
.slide-wrapper .slide > .content-wrap > .content > .origin {color: #555;}
.slide-wrapper .slide > .content-wrap > .price-sale {color: #ba7a2d; padding: 1em 0; font-weight: bold;}

.navi-wrapper .navi-logo {width: 50px; margin: 0 10% 0 2%; display: none;}
.navi-wrapper .navi-best .navi-bottom {padding: 0;}
.navi-wrapper .navi-best .navi-bottom > .wrapper {display: flex; align-items: center;}
.navi-wrapper .navi-best .navi-bottom > .wrapper > * {flex: 33.3333% 0 0;}
.navi-wrapper .navi-best .navi-bottom .title {font-weight: bold;}
.navi-wrapper .navi-best .alphabet-wrapper {display: flex; flex-direction: column; align-items: flex-start; padding: 1em;}
.navi-wrapper .navi-best .alphabet-wrap {display: flex; flex-wrap: wrap; padding: 1em 0;}
.navi-wrapper .navi-best ul.alphabet-wrap > li {width: 2.25em; height: 2em; display: flex; align-items: center;}
.navi-wrapper .navi-best ul.alphabet-wrap > li > a {line-height: 1.5; color: #999;}
.navi-wrapper .navi-best ul.alphabet-wrap > li > a.active {font-weight: bold; color: #333;}
.navi-wrapper .navi-best ul.alphabet-wrap > li:hover > a.active {border-bottom: 1px solid #333;}

.navi-wrapper .navi-sales .sales-wrapper {display: flex;}
.navi-wrapper .navi-sales .sales-wrapper .brand-wrap {flex: 20% 0 0; height: 600px; display: flex; flex-direction: column;}
.navi-wrapper .navi-sales .sales-wrapper .brand-wrap > .img-wrap {width: 100%; height: 50%; background-repeat: no-repeat; background-position: center; background-size: cover;}
.navi-wrapper .navi-sales .sales-wrapper .brand-wrap > .brand-link {width: 100%; height: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.navi-wrapper .bt-login {margin: 0 0.5em 0 1.75em; display: none;}

.sub-wrapper2 {position: absolute; background-color: #fff; box-shadow: 0 0.1em .25em rgba(0,0,0,0.3); padding: 0.5em 1em; top: 4.3em; left: 0; display: none;}
.sub-wrapper2 .depth {padding: 1em 0; width: 200px; font-weight: lighter; font-size: 0.875em; user-select: none; cursor: pointer; position: relative;   line-height: 1.5;}
.sub-wrapper2 .depth:not(:last-child) {border-bottom: 1px solid #eaeaea;}
.sub-wrapper2 .depth:last-child {border-bottom: 1px solid #fff;}
.sub-wrapper2 .depth2 > ul {position: absolute; top: -0.5em; left: calc(200px + 0.125em); box-shadow: 0 0.1em .25em rgba(0,0,0,0.3); padding: 0.5em 1em; background-color: #fff; display: none; z-index: 9;}

/************* main-wrapper *************/
.main-wrapper {position: relative;}
.main-wrapper .pager-wrapper {position: absolute; display: flex; justify-content: center; align-items: center; bottom: 1em; left: 50%; transform: translateX(-50%); z-index: 9; background-color: rgba(0,0,0,0.7); border-radius: 1em;}
.main-wrapper .pager-wrapper .bt-arrow {font-size: 3em; color: #fff; text-shadow: 0 0 0.25em rgba(0,0,0,.5); user-select: none; cursor: pointer; padding: 0.5em; font-weight: bold; margin: 0 0.25em;}
.main-wrapper .swiper-pagination-bullet { width: 1.25em; height: 1.25em; margin: 0.5em; background: #fff; opacity: 1;}
.main-wrapper .swiper-pagination-bullet-active {background: #61edff;}

.main-wrapper .slogan-wrapper {position: absolute; background-color: #fff; padding: 0.5em; top: 50%; left: 50%; transform: translate(0, -50%);}
.main-wrapper .slogan-wrapper .slogan-wrap {border: 3px solid #bbb; padding: 4em 6em; text-align: center;}
.main-wrapper .slogan-wrapper .title-sub {font-weight: bold; letter-spacing: 0.125em; margin-bottom: 2em;}
.main-wrapper .slogan-wrapper .title {margin-bottom: 1em; font-family: 'DM Serif Display', serif; font-size: 2.5em; letter-spacing: -0.025em;}
.main-wrapper .slogan-wrapper .summary {font-size: 0.875em; margin-bottom: 2em;}
.main-wrapper .slogan-wrapper .bt-link {background-color: #293355; color: #f9f9f9; font-size: 0.875em; padding: 1.5em 8em; display: inline-block; border-bottom: 1px solid #293355; transition: all 0.75s;}
.main-wrapper .slogan-wrapper .bt-link:hover {color: #293355; background-color: #fff; border-bottom: 1px solid #eaeaea;}


/************ 모달 *************/
.modal-container {width: 100%; height: 100vh; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 999; transition: all 0.3s; opacity: 0; display: none;}
.modal-wrapper {background-color: #fff; position: absolute; transition: all 0.3s;}

.modal-wrapper.type-rt {top: 0; right: 0; transform: translateX(100%); width: 400px; height: 100vh; padding: 0 2em;}
.modal-wrapper.type-ct {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; padding: 3em 3em 1em 3em; border: 1px solid #111; display: none;}
.modal-wrapper.type-lt {top: 0; left: 0; transform: translateX(-100%); width: 400px; height: 100vh; overflow-y: auto;}

.modal-wrapper .bt-close {background-color: transparent; border: none; outline-style: none; cursor: pointer;}

.modal-wrapper .close-wrap {padding: 1em 0; text-align: right;}
.modal-wrapper .close-wrap2 {width: 2em; height: 2em; line-height: 2em; text-align: center; font-size: 1.5em; position: absolute; top: 0; right: 0; background-color: #293355; color: #f9f9f9; transition: all 0.3s; cursor: pointer;}
.modal-wrapper .close-wrap2:hover {background-color: #fff; color: #293355;}
.modal-wrapper .close-wrap3 {font-size: 1.5em; padding: 0.5em;}

.modal-container.active {opacity: 1;}
.modal-wrapper.type-rt.active {transform: translateX(0);}
.modal-wrapper.type-lt.active {transform: translateX(0);}
.modal-wrapper.type-ct.active {display: block;}

.modal-wrapper .title {font-family: 'DM Serif Display', serif; font-size: 2.5em; letter-spacing: 0.05em; margin-bottom: 1em;}
.modal-wrapper label {display: block; margin: 1.5em 0 1em 0;}
.modal-wrapper .bt-blue,
.modal-wrapper .bt-white {margin: 2em 0;}

.modal-wrapper.modal-navi .depth {position: absolute; width: 100%; height: 100vh; top:0; left: 0; transition: all 0.3s; background-color: #fff;}
.modal-wrapper.modal-navi .depth2,
.modal-wrapper.modal-navi .depth3 {transform: translateX(-100%);}
.modal-wrapper.modal-navi .depth2.active,
.modal-wrapper.modal-navi .depth3.active {transform: translateX(0);}
.modal-wrapper.modal-navi .top-wrap {display: flex; justify-content: space-between; align-items: center; padding: 0.75em;}
.modal-wrapper.modal-navi li {padding: 1.5em; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #eaeaea; font-weight: bold; cursor: pointer;}
.modal-wrapper.modal-navi li:hover {color: #255b70; background-color: #f8f8f8;}

/************ 반응형 *************/
@media screen and (max-width: 1199px) {
	.wrapper {padding-left: 1em; padding-right: 1em;}
	.top-wrapper .top-wrap {justify-content: center;}
	.top-wrapper .top-wrap .icon-earth {display: none;}
	.top-wrapper .top-wrap .icon-down {display: none;}
	.top-wrapper .top-wrap .tel {display: none;}
	.top-wrapper .top-wrap .event {margin-left: unset;}

	.logo-wrapper .logo-wrap {width: 50px;}
	.logo-wrapper .bars {display: block;}
	.logo-wrapper .link-wrap {display: none;}
	.logo-wrapper .link-mo-wrap {display: block;}

	.navi-wrapper {display: none;}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	.main-wrapper .pager-wrapper {font-size: 0.5em;}
	.main-wrapper .slogan-wrapper {display: none;}
}

@media screen and (max-width: 575px) {
	.top-wrapper .top-wrap {flex-direction: column;}
	.main-wrapper .pager-wrapper {font-size: 0.375em;}
	.modal-wrapper.type-lt,
	.modal-wrapper.type-rt,
	.modal-wrapper.type-ct {width: 320px;}
}
